/bootstrap/compiled.php
composer.phar
composer.lock
.DS_Store
Thumbs.db
*.swp
*.swo
tags
/app/config/database.php
.idea/*
app/tests/_log/
!app/tests/_log/README.md
app/tests/_data/
!app/tests/_data/README.md
